# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug/
[Dd]ebug.win32/
*.sbr
*.sdf
obj/
[Rr]elease/
[Rr]elease.win32/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf

# Ignore files build by ndk and eclipse
libs/
bin/
obj/
gen/
assets/
local.properties

# Ignore python compiled files
*.pyc

# Ignore files build by airplay and marmalade
build_*_xcode/
build_*_vc10/

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
._.*
xcuserdata/
DerivedData/

# Ignore files built by AppCode
.idea/

# Ignore files built by bada
.Simulator-Debug/
.Target-Debug/
.Target-Release/

# Ignore files built by blackberry
Simulator/
Device-Debug/
Device-Release/

# Ignore vim swaps
*.swp
*.swo

# Ignore files created by create_project.py
projects/

# Ignore config files in javascript bindings generator
tools/tojs/user.cfg
# ... userconf.ini generated if running from tools/tojs
tools/tojs/userconf.ini
tools/tolua/userconf.ini
# ... userconf.ini generated if running from tools/jenkins_scripts/mac/android/
tools/jenkins_scripts/mac/android/userconf.ini

# CTags
tags

# ignore files, created with make-all-linux-project script
/lib
/build/linux-build

# Cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Ignore files generated by console
build/build/
cocos/scripting/lua-bindings/proj.ios_mac/build/
tests/*/runtime/
tests/*/publish/

# Android
project.properties

# Ignore prebuilt libraries folder
MyCppGame/cocos2d/external/xxhash/
MyCppGame/cocos2d/external/curl/
MyCppGame/cocos2d/external/edtaa3func/
MyCppGame/cocos2d/external/freetype2/
MyCppGame/cocos2d/external/glfw3/
MyCppGame/cocos2d/external/jpeg/
MyCppGame/cocos2d/external/json/
MyCppGame/cocos2d/external/linux-specific/
MyCppGame/cocos2d/external/lua/
MyCppGame/cocos2d/external/png/
MyCppGame/cocos2d/external/sqlite3/
MyCppGame/cocos2d/external/tiff/
MyCppGame/cocos2d/external/tinyxml2/
MyCppGame/cocos2d/external/unzip/
MyCppGame/cocos2d/external/webp/
MyCppGame/cocos2d/external/websockets/
MyCppGame/cocos2d/external/win32-specific/
MyCppGame/cocos2d/external/winrt-specific/
MyCppGame/cocos2d/external/wp8-specific/
MyCppGame/cocos2d/external/version.json
MyCppGame/cocos2d/templates/lua-template-runtime/runtime
MyCppGame/cocos2d/v*-deps-*.zip
MyCppGame/cocos2d/v*-lua-runtime-*.zip